<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cypress.academy.ble101_robot"
    android:appComponentFactory="whateverString"
    tools:replace="android:appComponentFactory">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Location permission required for android 6.0 (Marshmallow) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DfuActivityMain"
            android:label="DFU"
            ></activity>
        <activity android:name=".NotificationActivity" />

        <service
            android:name=".DfuService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".RepeaterAdvertise" />
        <activity android:name=".ConfigureGateway" />
        <activity android:name=".RadioSetup" />
        <activity
            android:name=".DeviceThermoDoor"
            android:label="@string/title_activity_device_flow" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cypress.academy.ble101_robot.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".ControlActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DeviceSettings" />

        <service
            android:name=".PSoCBleRobotService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ConfigurationView"
            android:label="Configuration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SensorSetup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DownloadCsv"
            android:label="@string/title_activity_download_csv"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SensorCalibrate"
            android:label="@string/title_activity_sensor_calibrate"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DeviceDecisions"
            android:label="MiigoBLE"
            android:theme="@style/AppTheme" />
    </application>

</manifest>